#rside {
    position: fixed;
    top: 0;
    right: -300px;
    /* 초기에는 화면 밖으로 이동하여 숨김 */
    width: 300px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    /* 배경색 조절 */
    color: black;
    /* 폰트 색상 조절 */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* 그림자 추가 */
    transition: right 0.3s ease;
    /* 오른쪽 위치 변화를 부드럽게 만듦 */
    z-index: 999;
    /* 다른 요소 위에 표시되도록 z-index 설정 */
}

#rside.open {
    right: 0;
    /* 열렸을 때 오른쪽으로 이동하여 보이도록 함 */
}
#paritcularList{
	max-height:696px;
	overflow-y:auto;
}
.sep {
    margin-top: 30px;
}

.sep .line {
    margin-top: 10px;
    border-color: rgb(121, 119, 119);
}

.sep .dateFont {
    color: rgb(121, 119, 119);
}

.no-resize {
    position: absolute;
    border: 1px solid;
    resize: none;
    width: 263px;
    bottom : 10px;
}

.absPen {
    font-size: 15px;
}

.icon {
    position: absolute;
    bottom: 10px;
    right: 25px;
    font-size: 20px;
    color: #888;
}

.posi {
    position: absolute;
    right: 240px;
    bottom: 250px;
    z-index: 9999;
}

.it {
    max-height: 150px;
    overflow-y: auto;
    border-radius: 20px;
}

.fp {
    position: relative;
    margin-left: 5px;
    top: -8px;
}

.abs {
    display: block;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    width: 180px
}
.selection-box {
position: absolute;
width: 40px;
height: 25px;
background-color: white;
border: 1px solid rgba(0, 0, 0, 0.5);
border-radius: 5px;
z-index: 9999;
}
.outIcon{
	position: absolute;
	font-size:20px;
    right: 10px;
    top: 15px;
}